<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" href="../images/favicon.ico" sizes="any" />
    <link rel="icon" href="../images/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png" />
  </head>
  <body>
    <div id="vue-app" v-cloak>
      <div class="tab-container">
        <div class="tab">
          <button
            class="tablinks"
            v-for="(section, id) in sections"
            :key="id"
            @click="selectTab(id)"
            :class="{ active: activeTab === id }"
          >
            {{ section.title }}
          </button>
        </div>

        <div
          v-for="(section, id) in sections"
          :id="id"
          class="tabcontent"
          v-show="activeTab === id"
          :key="id"
        >
          <!-- Основная информация -->
          <div v-if="id === 'mainInfo'">
            <h3>Основная информация</h3>

            <form @submit.prevent="validateAndSubmit('mainInfo')">
              <input-field
                id="displayedTitle"
                label="Описание клуба (например 'Клуб настольного тенниса')"
                type="text"
                v-model="sections.mainInfo.displayedTitle"
                :maxlength="70"
                required
                :error="false"
                error-message="Введите отображаемый заголовок"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="clubName"
                label="Название клуба"
                type="text"
                v-model="sections.mainInfo.clubName"
                :maxlength="100"
                required
                :error="false"
                error-message="Название клуба обязательно к заполнению"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <photo-upload
                label="Логотип (показывается в панели навигации)"
                v-model="sections.mainInfo.logo"
                section-id="mainInfo"
                :is-avatar="true"
                @image-uploaded="handleImageUpload"
              ></photo-upload>

              <photo-upload
                label="Фоновое фото для главного блока"
                :initial-image-data="sections.mainInfo.background"
                section-id="mainInfo"
                :single-photo="true"
                @image-uploaded="handleImageUpload"
              ></photo-upload>
              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>

          <!-- О клубе -->
          <div v-if="id === 'aboutClub'">
            <h3>О клубе</h3>
            <form @submit.prevent="validateAndSubmit('aboutClub')">
              <input-field
                id="displayedTitle"
                label="Отображаемый заголовок"
                type="text"
                v-model="sections.aboutClub.displayedTitle"
                :maxlength="30"
                required
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="description"
                label="Краткое описание"
                type="textarea"
                v-model="sections.aboutClub.description"
                :maxlength="1000"
                required
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <multiple-photo-upload
                :initial-image-data="sections.aboutClub.imageData"
                :label="'Галерея фото клуба (до 20 фото, желательно в альбомной ориентации)'"
                :section-id="'aboutClub'"
                @image-uploaded="handleImageUpload"
              ></multiple-photo-upload>
              <!-- Достижения с эмодзи и текстом -->

              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>

          <div v-if="id === 'news'">
            <div class="header-with-toggle">
              <h3>Новости и акции</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.news.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.news.showBlock }">
              <form @submit.prevent="validateAndSubmit('news')">
                <input-field
                  id="newsTitle"
                  label="Отображаемый заголовок"
                  type="text"
                  v-model="sections.news.displayedTitle"
                  :maxlength="50"
                  required
                  :is-submit-attempted="isSubmitAttempted"
                ></input-field>

                <p class="hint">Показываются новости с RTTF.</p>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('news')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'activities'">
            <div class="header-with-toggle">
              <h3>Турниры и тренировки</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input
                    type="checkbox"
                    v-model="sections.activities.showBlock"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.activities.showBlock }">
              <input-field
                id="activitiesTitle"
                label="Отображаемый заголовок"
                type="text"
                v-model="sections.activities.displayedTitle"
                :maxlength="50"
                required
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <div class="daystab">
                <button
                  class="tablinks"
                  v-for="(shortDay, index) in shortDays"
                  :key="index"
                  @click="selectDay(sections.activities.days[index])"
                  :class="{ active: sections.activities.currentDay === sections.activities.days[index] }"
                >
                  {{ shortDay }}
                </button>
              </div>
              <div v-for="event in filteredEvents" :key="event.id">
                <div
                  v-if="editingEventId !== event.id || editingEventId === null"
                  class="event-card view-mode"
                >
                  <div class="event-header">
                    <span class="event-time">
                      {{ event.startTime }} - {{ event.endTime }}
                    </span>
                    <span class="event-type" :class="event.type">
                      {{ eventType(event.type) }}
                    </span>
                  </div>
                  <h4>{{ event.name }}</h4>

                  <span class="event-details">{{ event.moreDetails }}</span>
                  <button
                    @click="editingEventId = event.id"
                    class="edit-button"
                  >
                    Редактировать
                  </button>
                </div>

                <div v-else class="event-card gap-16">
                  <div>
                    <label>Название активности</label>
                    <input
                      v-model="event.name"
                      type="text"
                      placeholder="Название активности"
                      :maxlength="50"
                    />
                  </div>

                  <div>
                    <label>Тип события</label>
                    <div class="daystab">
                      <button
                        type="button"
                        class="tablinks"
                        :class="{ active: event.type === 'training' }"
                        @click="event.type = 'training'"
                      >
                        Тренировка
                      </button>
                      <button
                        type="button"
                        class="tablinks"
                        :class="{ active: event.type === 'tournament' }"
                        @click="event.type = 'tournament'"
                      >
                        Турнир
                      </button>
                      <button
                        type="button"
                        class="tablinks"
                        :class="{ active: event.type === 'other' }"
                        @click="event.type = 'other'"
                      >
                        Другое
                      </button>
                    </div>
                  </div>

                  <div class="time-row">
                    <div>
                      <label>Начало</label>
                      <input v-model="event.startTime" type="time" />
                    </div>

                    <div>
                      <label>Окончание</label>
                      <input v-model="event.endTime" type="time" />
                    </div>
                  </div>

                  <div>
                    <label
                      >Подробности (рейтинг турнира, имя тренера и т.п.)</label
                    >
                    <input
                      v-model="event.moreDetails"
                      type="text"
                      placeholder="Подробности"
                      :maxlength="30"
                    />
                  </div>
                  <div class="buttons-row">
                    <div class="remove-button" @click="deleteEvent(event)">
                      <img src="delete.svg" alt="Удалить" class="remove-icon" />
                      Удалить
                    </div>
                    <button @click="saveEvent(event.id)">Применить</button>
                  </div>
                </div>
              </div>

              <button
                v-if="editingEventId === null"
                class="add-button-new"
                @click="addEvent"
              >
                + Добавить событие
              </button>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('activities')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'coaches'">
            <div class="header-with-toggle">
              <h3>Тренеры клуба</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.coaches.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.coaches.showBlock }">
              <form @submit.prevent="validateAndSubmit('coaches')">
                <input-field
                  id="coachesTitle"
                  label="Отображаемый заголовок"
                  type="text"
                  v-model="sections.coaches.displayedTitle"
                  :maxlength="50"
                  required
                  :is-submit-attempted="isSubmitAttempted"
                ></input-field>
                <h4>Тренеры</h4>
                <div class="coaches-edit-container">
                  <div
                    v-for="coach in sections.coaches.coachesList"
                    :key="coach.id"
                    class="coach-edit-card"
                  >
                    <div v-if="!coach.isDeleted">
                      <input-field
                        :id="`name-${coach.id}`"
                        label="Имя и фамилия"
                        :maxlength="50"
                        v-model="coach.name"
                        :value="coach.name"
                      ></input-field>
                      <input-field
                        :id="`info-${coach.id}`"
                        label="Информация"
                        type="textarea"
                        :maxlength="150"
                        v-model="coach.info"
                        :value="coach.info"
                      ></input-field>
                      <div class="buttons-row">
                        <input-field
                          :id="`playingExperience-${coach.id}`"
                          label="Начал играть"
                          type="month"
                          v-model="coach.playingExperience"
                          :value="coach.playingExperience"
                        ></input-field>
                        <input-field
                          :id="`coachingExperience-${coach.id}`"
                          label="Начал тренировать"
                          type="month"
                          v-model="coach.coachingExperience"
                          :value="coach.coachingExperience"
                        ></input-field>
                      </div>
                      <input-field
                        :id="`price-${coach.id}`"
                        label="Цена в час"
                        type="text"
                        v-model="coach.price"
                        :value="coach.price"
                        :min="0"
                        style="width: 100px"
                      ></input-field>
                      <input-field
                        :id="`profileLink-${coach.id}`"
                        label="Ссылка на профиль RTTF"
                        type="url"
                        :maxlength="80"
                        v-model="coach.profileLink"
                        :value="coach.profileLink"
                      ></input-field>
                      <photo-upload
                        :initial-image-data="coach.photo"
                        label="Фото тренера"
                        :is-avatar="true"
                        :section-id="`coachPhoto-${coach.id}`"
                        @image-uploaded="handlePhotoUpload($event, coach.id)"
                      ></photo-upload>
                      <div class="remove-button" @click="removeCoach(coach.id)">
                        <img
                          src="delete.svg"
                          alt="Удалить"
                          class="remove-icon"
                        />
                        Удалить тренера
                      </div>
                    </div>
                    <div v-else class="remove-button">
                      <span>Тренер удален</span>
                      <span
                        @click="restoreCoach(coach.id)"
                        style="color: var(--pp-blue)"
                        >Восстановить</span
                      >
                    </div>
                  </div>
                </div>
                <button @click.prevent="addCoach" class="add-button-new">
                  Добавить тренера
                </button>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('coaches')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'prices'">
            <div class="header-with-toggle">
              <h3>Цены</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.prices.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.prices.showBlock }">
              <form @submit.prevent="validateAndSubmit('prices')">
                <input-field
                  id="pricesTitle"
                  label="Отображаемый заголовок"
                  type="text"
                  v-model="sections.prices.displayedTitle"
                  :maxlength="50"
                  required
                  :is-submit-attempted="isSubmitAttempted"
                ></input-field>
                <div
                  v-for="(category, index) in sections.prices.menu"
                  :key="index"
                  class="category-container"
                >
                  <div v-if="!category.deleted">
                    <div class="category-header">
                      <div class="name-and-button">
                        <h5>Категория {{ index + 1 }}</h5>
                        <div
                          class="remove-button"
                          @click="removeCategory(index)"
                        >
                          <img
                            src="delete.svg"
                            alt="Удалить"
                            class="remove-icon"
                          />
                          Удалить
                        </div>
                      </div>
                      <label>Название категории</label>
                      <input
                        type="text"
                        v-model="category.title"
                        :placeholder="'Введите название категории '"
                      />
                    </div>

                    <!-- Пункты ценового меню внутри категории -->
                    <div
                      v-if="category.items.length > 0"
                      class="category-items-header"
                    >
                      <label>Пункты категории</label>
                      <label>Цена</label>
                    </div>
                    <div
                      v-for="(item, itemIndex) in category.items"
                      :key="itemIndex"
                      class="price-item"
                    >
                      <input
                        type="text"
                        v-model="item.text"
                        :placeholder="'Введите текст'"
                        :maxlength="100"
                      />
                      <input
                        type="text"
                        :maxlength="10"
                        v-model="item.price"
                        class="price-input"
                        :placeholder="'Цена'"
                      />

                      <img
                        src="close.svg"
                        class="delete-price-button"
                        @click="removeItem(index, itemIndex)"
                      />
                    </div>

                    <div>
                      <button
                        @click.prevent="addItem(index)"
                        class="add-button"
                      >
                        + Добавить пункт
                      </button>
                    </div>
                  </div>
                  <div v-else class="remove-button">
                    <span>Категория удалена</span>
                    <span
                      @click="restoreCategory(index)"
                      style="color: var(--pp-blue)"
                      >Восстановить</span
                    >
                  </div>
                </div>

                <div>
                  <button @click.prevent="addCategory" class="add-button-new">
                    Добавить категорию
                  </button>
                </div>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('prices')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="id === 'reviews'">
            <div class="header-with-toggle">
              <h3>Отзывы</h3>
              <div class="toggle-container">
                <label class="switch">
                  <input type="checkbox" v-model="sections.reviews.showBlock" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div :class="{ 'disabled-block': !sections.reviews.showBlock }">
              <form @submit.prevent="validateAndSubmit('reviews')">
                <input-field
                  id="coachesTitle"
                  label="Отображаемый заголовок"
                  type="text"
                  v-model="sections.reviews.displayedTitle"
                  :maxlength="50"
                  required
                  :is-submit-attempted="isSubmitAttempted"
                ></input-field>
                <p class="hint">
                  Выберите отзывы для отображения со страницы клуба на RTTF,
                  выбрав “Показать на персональной странице” рядом с отзывом.
                </p>
                <!-- Переключатель "Показать мои тренировки с RTTF" -->
                <div class="toggle-container mg-top-32">
                  <span>Показать средний рейтинг</span>
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="sections.reviews.showAverageRating"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
              </form>
            </div>
            <div class="button-container">
              <button
                type="submit"
                class="save-button"
                @click="validateAndSubmit('reviews')"
              >
                Сохранить
              </button>
            </div>
          </div>

          <div v-if="activeTab === 'contacts'">
            <h3>Контакты</h3>

            <form @submit.prevent="validateAndSubmit('contacts')">
              <input-field
                id="address"
                label="Адрес"
                type="text"
                v-model="sections.contacts.address"
                :maxlength="200"
                :required="true"
                :is-submit-attempted="isSubmitAttempted"
                error-message="Заполните адрес"
              ></input-field>

              <input-field
                id="metroStation"
                label="Станция метро"
                type="text"
                v-model="sections.contacts.metroStation"
                :maxlength="50"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <h4>Часы работы</h4>
              <input-field
                id="workingHoursWeekdays"
                label="Понедельник-пятница"
                type="text"
                v-model="sections.contacts.workingHoursWeekdays"
                :maxlength="30"
                :required="true"
                :is-submit-attempted="isSubmitAttempted"
                error-message="Укажите время в формате 10:00-22:00"
              ></input-field>

              <input-field
                id="workingHoursWeekend"
                label="Суббота-воскресенье"
                type="text"
                v-model="sections.contacts.workingHoursWeekend"
                :maxlength="30"
                :required="true"
                :is-submit-attempted="isSubmitAttempted"
                error-message="Укажите время в формате 10:00-22:00"
              ></input-field>

              <h4>Варианты связи</h4>
              <input-field
                id="phone"
                label="Телефон"
                type="phone"
                v-model="sections.contacts.phone"
                :maxlength="20"
                :required="true"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="email"
                label="Email"
                type="email"
                v-model="sections.contacts.email"
                :maxlength="50"
                :required="true"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="whatsapp"
                label="WhatsApp"
                placeholder="https://wa.me/вашномертелефона"
                type="text"
                v-model="sections.contacts.whatsapp"
                :maxlength="50"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="telegram"
                label="Telegram"
                placeholder="https://t.me/вашномертелефона"
                type="text"
                v-model="sections.contacts.telegram"
                :maxlength="50"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <h4>Ссылки</h4>
              <input-field
                id="socialVk"
                label="Группа ВК"
                type="text"
                v-model="sections.contacts.socialVk"
                :maxlength="100"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="socialTelegram"
                label="Telegram канал"
                type="text"
                v-model="sections.contacts.socialTelegram"
                :maxlength="100"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="socialInstagram"
                label="Instagram"
                type="text"
                v-model="sections.contacts.socialInstagram"
                :maxlength="100"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="socialOdnoklassniki"
                label="Одноклассники"
                type="text"
                v-model="sections.contacts.socialOdnoklassniki"
                :maxlength="100"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <input-field
                id="rttfURL"
                label="Страница на RTTF"
                type="text"
                v-model="sections.contacts.rttfURL"
                :maxlength="100"
                :is-submit-attempted="isSubmitAttempted"
              ></input-field>

              <div class="button-container">
                <button type="submit" class="save-button">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
        <div v-if="saveSuccessful" class="save-success-message">
          Изменения сохранены
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.2.36"></script>
    <script src="script.js"></script>
  </body>
</html>
